---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';

// Define slots to allow content insertion
const { title } = Astro.props;
const { children } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Your website description here" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title || 'Default Title'}</title>
  <link rel="stylesheet" href="/styles/global.css" />
  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    html {
      font-family: system-ui, sans-serif;
      background: #13151a;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</head>
<body>
  <!--<Header />-->

  <main>
    {children}
  </main>

  <!--<Footer />-->
</body>
</html>
